<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.product.mapper.CategoryPropertyMapper">
  <resultMap id="BaseResultMap" type="com.sunny.product.model.CategoryProperty">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="area_user_id" jdbcType="BIGINT" property="areaUserId" />
    <result column="search_type" jdbcType="BIT" property="searchType" />
    <result column="value_type" jdbcType="INTEGER" property="valueType" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="manually_add" jdbcType="BIT" property="manuallyAdd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, status, create_time, update_time, sort, category_id, area_user_id, search_type, 
    value_type, value, manually_add
  </sql>
  <select id="selectByExample" parameterType="com.sunny.product.model.CategoryPropertyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_category_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_category_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from p_category_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sunny.product.model.CategoryPropertyExample">
    delete from p_category_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sunny.product.model.CategoryProperty">
    insert into p_category_property (id, name, status, 
      create_time, update_time, sort, 
      category_id, area_user_id, search_type, 
      value_type, value, manually_add
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=BIGINT}, #{areaUserId,jdbcType=BIGINT}, #{searchType,jdbcType=BIT}, 
      #{valueType,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{manuallyAdd,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sunny.product.model.CategoryProperty">
    insert into p_category_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      status,
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="areaUserId != null">
        area_user_id,
      </if>
      <if test="searchType != null">
        search_type,
      </if>
      <if test="valueType != null">
        value_type,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="manuallyAdd != null">
        manually_add,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      #{status,jdbcType=TINYINT},
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="areaUserId != null">
        #{areaUserId,jdbcType=BIGINT},
      </if>
      <if test="searchType != null">
        #{searchType,jdbcType=BIT},
      </if>
      <if test="valueType != null">
        #{valueType,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="manuallyAdd != null">
        #{manuallyAdd,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunny.product.model.CategoryPropertyExample" resultType="java.lang.Long">
    select count(*) from p_category_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update p_category_property
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.areaUserId != null">
        area_user_id = #{record.areaUserId,jdbcType=BIGINT},
      </if>
      <if test="record.searchType != null">
        search_type = #{record.searchType,jdbcType=BIT},
      </if>
      <if test="record.valueType != null">
        value_type = #{record.valueType,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.manuallyAdd != null">
        manually_add = #{record.manuallyAdd,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update p_category_property
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sort = #{record.sort,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=BIGINT},
      area_user_id = #{record.areaUserId,jdbcType=BIGINT},
      search_type = #{record.searchType,jdbcType=BIT},
      value_type = #{record.valueType,jdbcType=INTEGER},
      value = #{record.value,jdbcType=VARCHAR},
      manually_add = #{record.manuallyAdd,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunny.product.model.CategoryProperty">
    update p_category_property
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="areaUserId != null">
        area_user_id = #{areaUserId,jdbcType=BIGINT},
      </if>
      <if test="searchType != null">
        search_type = #{searchType,jdbcType=BIT},
      </if>
      <if test="valueType != null">
        value_type = #{valueType,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="manuallyAdd != null">
        manually_add = #{manuallyAdd,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sunny.product.model.CategoryProperty">
    update p_category_property
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=BIGINT},
      area_user_id = #{areaUserId,jdbcType=BIGINT},
      search_type = #{searchType,jdbcType=BIT},
      value_type = #{valueType,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR},
      manually_add = #{manuallyAdd,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>